	<footer>
		<div class="footer">
			<p class="footerHeader">About Gurukul Varta</p> 
			<div class="underline"></div>
			<div id="about">Gurukul Varta is the monthly newsletter issued by IIT Goa.</div>
			<div id="social">
				<a href="https://www.facebook.com/GurukulVarta" target="_blank"><img src="Images/facebook.png" alt="Facebook" /></a>
				<!-- <a href="#"><img src="Images/twitter.png" alt="Twitter" /></a> -->
				<!-- <br id="socialBreak"/> -->
				<!-- <a href="#"><img src="Images/youtube.png" alt="YouTube" /></a> -->
				<a href="#"><img src="Images/instagram.png" alt="Instagram" /></a>
			</div>
		</div>
		<div class="footer">
			<p class="footerHeader">Contact Us</p>
			<div class="underline"></div>
			<p id="mail">Email:</p>
			<a> gv@iitgoa.ac.in </a>
			<p id="editor">Chief Editor</p>
			<p id="editorInfo">Neha Shah
			<br/>neha.shah.16002@iitgoa.ac.in</p>
		</div>
		<div class="footer">
			<p class="footerHeader">Popular Tags</p>
			<div class="underline"></div>
			<div class="popular-tags">
				<p><a href="#">Career</a>
				<a href="#">Internship</a>
				<a href="#">Academics</a>
				<a href="#">Sports</a>
				<a href="#">ExtraCurriculam</a>

				</p>
			</div>
		</div>	
		<div class="copyright">
			<p> Copyright © <?php echo date("Y");?> . All Rights Reserved | <br id="break"/> Website Designed by Gaurav Ganna &amp; Pankaj Katkar</p>
		</div>
	</footer>