* {
	margin: 0px;
	padding: 0px;
	min-height: 0;
	min-width: 0;
}

#aboveBanner {
	box-sizing: border-box;
	background-color: #53514d;
	width: 100%;
	height: 36px;
	line-height: 36px;
	color: white;
	font-size: 14px; 
	padding-left: 40px;
}

#aboveBanner input[type=text] {

  padding: 6px;
  margin: 2.5px 0px;
  font-size: 14px;
  border: none;
  border-radius: 1px;
}

#aboveBanner .search-container button {
  float: right;
  padding: 5px 10px;
  margin: 2.5px 0px;
  margin-right: 16px;
  background: #ddd;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#aboveBanner .search-container button:hover {
  background: #ccc;
}

#date {
	float: left;
	transition: display 1.2s ease-out;
}

.search-container {
	transition: all 1.2s ease-out;
	float: right;
}

#banner {
	background-color: white;
	text-align: center;
}

#banner a {
	text-decoration: none;
	color: inherit;
}

#banner img {
	margin: 20px 0px;
	transition: all 1.2s ease-out;
	width: 580px;
	height: 110px;
	max-width: 100%;
}

/* Navigation Bar*/
nav.desktop,
nav.mobile,
.hamburger-btn {
	background-color: #757676;
	height: 40px;
	width: 100%;
	line-height: 40px;
	margin-bottom: 0px;
}

nav.desktop {
	position: sticky;
	top: 0px;
	z-index: 10;
}

nav.mobile,
.hamburger-btn {
	display: none;
	transition: top 1.2s ease-out;		/*When Screen Size goes to mobile version*/
}


nav.desktop ul {
	background-color: #757676;
	overflow: hidden;	
	text-align: center;
}

nav.desktop li {
	list-style: none;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-size: 16px;
	padding: 0px 5px;
	border-style: solid;
	border-width: 0px 0px 3px 0px;
	border-color: #060605;
}


nav ul li a {
	text-decoration: none;
	color: inherit;
}

nav.desktop li:hover,nav.mobile li:hover {
	background-color: #f27d0c;
	border-color: #ffffff;
	transition: all 0.4s ease;
}

nav.mobile ul {
	background-color: orange;
	display: none;
}

nav.mobile ul.active {
	display: block;
}

section.mainBody.active {
	margin-top: 360px; 
}

/*Media Query to change from mobile to desktop version and vice-versa*/
@media screen and (max-width: 1050px) {
	nav.desktop {
		display: none;
	}

	nav.mobile,
	.hamburger-btn {
		display: block;
	}

	.hamburger-btn {
		padding-left: 15px;
		box-sizing: border-box;
	}

	.hamburger-btn .fa-bars,
	.hamburger-btn .fa-window-close-o {
		margin-top: 2.5px;
		font-size: 35px;
		cursor: pointer;
		color: #f27d0c;
	}


	nav.mobile ul li {
		list-style: none;
		text-align: center;
		padding: 0px 20px;
		color: white;
		background-color: #757676;
		/*Add Border Around */
	}
}
/*Navigation Bar*/

.lineBelowBanner {
	width: 60%;
	position: relative;
	left: 20%;
	height: 6px;
	box-sizing: border-box;
	background-color: #f27d0c;
}

.heading {
	text-align: center;
	margin: 5px 0px 15px 0px;
	color: #3d4449;
	font-weight: 700;
	font-size: 28px; 
	transition: all 1.2s ease;
	font-family: 'Arial';
}

.mainBody {
	margin: 30px;
	transition: margin-top 0.5s ease;
}


.footer {
	background-color: #868179;
	position: relative;
	height: 250px;
	/*border: 1px solid;*/
	width: 33.33333333%;
	box-sizing: border-box;
	display: block;
	float: left;
	font-size: 16px;
	font-family: sans-serif;
	transition: height 0.5s ease,
				width 0.3s ease; 
}

.footerHeader {
	color: #000;
	font-size: 18px;
	font-weight: 700;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 5px;
}

.underline {
	margin-left: 30px;
	height: 2.5px;
	width: 18px;
	background-color: red;
}

#about {
	font-size: 16px;
	font-weight: 100;
	box-sizing: border-box;
	padding: 0px 30px;
	margin-top: 10px;
	font-family: sans-serif;
	line-height: 1.3;
	color: white;
}

#mail,
.footer a,
#editor,
#editorInfo {
	padding: 0px 30px;
	box-sizing: border-box;
}

#mail,
#editor {	
	margin-top: 20px;
	color: white;
	font-size: 16px;
	font-weight: 700;
}

.footer a,
#editorInfo {
	color: white;
	font-size: 14px;
}

#social {
	margin-left: 30px;
	margin-top: 20px;
}

#social a {
	padding: 0px;
}

#social img {
	height: 48px;
	width: 48px;
}

.copyright {
	width: 100%;
	padding: 5px 0px;
	text-align: center;
	font-size: 14.4px;
	background-color: #53514d;
	line-height: 24.4px;
}

#break,
#socialBreak {
	display: none;
	transition: display 0.4s ease-out; 
}

@media screen and (max-width: 480px) {
	.footer {
		width: 100%;
		height: auto;

	}
}


/*Social Media*/
/*.wrapper {
	position: fixed;
	top: 35%;
	right: 0%;
	z-index: 2;

}

.wrapper li {
	position: relative;
	width: 40px;
	height: 40px;
	background: #e59500;
	list-style: none;
	margin : 1px 0px;
	cursor: pointer;
	border-radius: 8px 0px 0px 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

ul li .fa {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-60%,-50%);
	font-size: 20px;
	color: #fff;
}

ul .facebook {
	background-color: #3b5998;
}

ul .twitter {
	background-color: #1da1f2;
}

ul .instagram {
	background-color: #c32aa3;
}

ul .youtube {
	background-color: #ff0000;
}

.slider {
	background: #eebb5c;
	position: absolute;
	top: 0;
	right: 40.5px;
	width: 0px;
	height: 40px;
	border-radius: 3px;
	transition: all 0.5s 0.3s ease;
}

.slider p {
	font-family: arial;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-weight: 500;
	font-size: 16px;
	transition: all 0.6s ease;
	opacity: 0;
}

ul li.facebook div.slider {
	background: #3b5998;
}

ul li.twitter div.slider {
	background: #1da1f2;
}

ul li.instagram div.slider {
	background: #c32aa3;
}

ul li.youtube div.slider {
	background: #ff0000;
}

ul li:hover .slider {
	width: 100px;
	transition: all 0.5s ease;
}

ul li:hover .slider p {
	opacity: 1;
	transition: all 1s 0.2s ease;
}
*/
/*Add Media Query to change banner size in mobile version*/
@media screen and (max-width: 600px) {
/*	.wrapper {
		display: none;
	}
*/
	#banner img {
		height: 50px;
		width: 250px;
		margin: 10px 0px; 
	}

	.heading {
		font-size: 14px;
	}

	#break {
		display: block;
	}

	#date {
		display: none;
	}

	.search-container {
		float: none;
		text-align: center;
		display: inline;
	}

	#aboveBanner .search-container button,
	#aboveBanner .search-container input[type=text]{
		margin: auto 0px;
		float: none;
	}
}

@media screen and (max-width: 725px) and (min-width: 480px) {
	#socialBreak {
		display: block;
	}

}
/*Social Media*/
