* {
	margin: 0px;
	padding: 0px;
}

#banner {
	background-color: white;
	text-align: center;

}

#banner img {
	margin: 10px 0px;
	transition: all 1.2s ease-out;
	width: 580px;
	height: 140px;
	max-width: 100%;
}

/* Navigation Bar*/
nav.desktop,
nav.mobile {
	background-color: orange;
	height: 40px;
	box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.2);
	width: 100%;
	/*position: fixed;*/
	top: 160px;
	left: 0px;
	line-height: 40px;
}

nav.mobile,
.hamburger-btn {
	display: none;
	transition: top 1.2s ease-out;
}

.hamburger-btn .fa-bars,
.hamburger-btn .fa-window-close-o {
	transition: top 1.2s ease-out,
				display 1s ease;
}

nav.desktop ul {
	background-color: orange;
	overflow: hidden;	
	text-align: center;
}

nav.desktop li {
	list-style: none;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-size: 16px;
	padding: 0px 5px;
	border-style: solid;
	border-width: 0px 0px 2.5px 0px;
	border-color: green;
}


nav ul li a {
	text-decoration: none;
	color: inherit;
}

nav.desktop li:hover,nav.mobile li:hover {
	background-color: #f4bf42;
	border-color: red;
	transition: all 0.4s ease;
}

nav.mobile ul {
	display: none;
}

nav.mobile ul.active{
	display: block;
}

@media screen and (max-width: 1050px) {
	nav.desktop {
		display: none;
	}

	nav.mobile,
	.hamburger-btn {
		display: block;
	}

	.hamburger-btn {
		position: relative;
	}

	.hamburger-btn .fa-bars,
	.hamburger-btn .fa-window-close-o {
		position: fixed;
		left: 15px;
		top: 161px;
		font-size: 35px;
		cursor: pointer;
		color: #f4eb42;
	}

	nav.mobile ul {
		margin-top: 40px;
		background-color: orange;
	}

	nav.mobile ul li {
		list-style: none;
		text-align: center;
		padding: 0px 20px;
		color: white;
	}

}
/*Navigation Bar*/

/*Social Media*/
.wrapper {
	position: fixed;
	top: 40%;
	right: 0%;
	z-index: 2;

}

.wrapper li {
	position: relative;
	width: 40px;
	height: 40px;
	background: #e59500;
	list-style: none;
	margin : 1px 0px;
	cursor: pointer;
	border-radius: 8px 0px 0px 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

ul li .fa {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-60%,-50%);
	font-size: 20px;
	color: #fff;
}

ul .facebook {
	background-color: #3b5998;
}

ul .twitter {
	background-color: #1da1f2;
}

ul .instagram {
	background-color: #c32aa3;
}

ul .youtube {
	background-color: #ff0000;
}

.slider {
	background: #eebb5c;
	position: absolute;
	top: 0;
	right: 40.5px;
	width: 0px;
	height: 40px;
	border-radius: 3px;
	transition: all 0.5s 0.3s ease;
}

.slider p {
	font-family: arial;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-weight: 500;
	font-size: 16px;
	transition: all 0.6s ease;
	opacity: 0;
}

ul li.facebook div.slider {
	background: #3b5998;
}

ul li.twitter div.slider {
	background: #1da1f2;
}

ul li.instagram div.slider {
	background: #c32aa3;
}

ul li.youtube div.slider {
	background: #ff0000;
}

ul li:hover .slider {
	width: 100px;
	transition: all 0.5s ease;
}

ul li:hover .slider p {
	opacity: 1;
	transition: all 1s 0.2s ease;
}

@media screen and (max-width: 600px) {
	.wrapper {
		display: none;
	}

	#banner img {
		height: 85px;
		width: 320px;
	}

	nav.desktop,
	nav.mobile {
		top: 105px;
	}

	.hamburger-btn .fa-bars,
	.hamburger-btn .fa-window-close-o {
		top: 106px;
	}

}
/*Social Media*/