.trending-articles-container {
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	height: 600px;
	color: #fff;
	transition: width 0.5s ease;
	cursor: pointer;
}

.trending-articles-container .image {
	width: 33.33333%;
	height: 33.33333%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

.trending-articles-container .image .color {
	opacity: 0.925;
	height: 100%;
	width: 100%;
	transition: opacity 1s ease;
}

.trending-articles-container .image .color:hover {
	opacity: 0;
}

.trending-articles-container .header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 10px;
	height: 100%;
	box-sizing: border-box;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.trending-articles-container .header h3 {
	font-size: 1.55em;
	line-height: 1.65;
	font-weight: 600;
	box-sizing: border-box;
	opacity: 1.0;
	margin: 0.325em 10% 0.3em 0;
	border-bottom: #fff 2px solid;
	letter-spacing: 0.025em;
	overflow: hidden;
}

.trending-articles-container .header p {
	opacity: 1.0;
	margin-top: 0.3em;
	letter-spacing: 0.25em;
	font-weight: 600;
	font-size: 0.7em;
	text-transform: uppercase;
	width: max-content;
}

#one {
	background-image: url("../Images/1st-senate-meeting.jpg");
}

#one .color {
	background-color: #6fc3df;
}

#two {
	background-image: url("../Images/3rd-generation-iit-director-meet.jpg");
}

#two .color {
	background-color: #8d82c4;
}

#three {
	background-image: url("../Images/goa-atlantic-summit.jpg");
}

#three .color {
	background-color: #ec8d81;
}

#four {
	background-image: url("../Images/goa-liberation-day.jpg");
}

#four .color {
	background-color: #e7b788;
}

#five {
	background-image: url("../Images/goat-cooperation-meet.jpg");
}

#five .color {
	background-color: #8ea9e8;
}

#six {
	background-image: url("../Images/iit-goa-logo-unvieled.jpg");
}

#six .color {
	background-color: #87c5a4;
}

#seven {
	background-image: url("../Images/interiitsport2017.jpg");
}

#seven .color {
	background-color: #795548;
}

#eight {
	background-image: url("../Images/ips-meet.jpg");
}


#eight .color {
	background-color: #d1d655;
}

#nine {
	background-image: url("../Images/national-unity-day.jpg");
}


#nine .color {
	background-color: #74438e;
}

@media screen and (max-width: 950px) {
	.trending-articles-container .header h3 {
		padding: 0% 1px;
		font-size: 1.35em;
		line-height: 1.25;
		letter-spacing: 0.025em;
	}

	.trending-articles-container .header p {
		letter-spacing: 0.25em;
		font-size: 0.7em;
		width: max-content;
	}
}

@media screen and (max-width: 600px) {
	.trending-articles-container .image {
		width: 50%;
		height: 25%;
	}

	.trending-articles-container .header h3 {
		font-size: 1.35em;
		line-height: 1.2;
	}

	.trending-articles-container .header p {
		display: none;
	}

	#nine {
		display: none;
	}
}


/*Below Main Section*/ 
.belowMainArticle {
	display: inline-flex;
}

.leftSide {
	width: 75%;
	box-sizing: border-box;
	height: auto;
}

.rightSide {
	margin: 0px 0px 0px 20px;
	width: 25%;
	/*border: blue 1px solid;*/
	box-sizing: border-box;
	height: auto;
}

.latest-edition {
	height: auto;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.rightSide .header {
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-weight: 700;
	color: #f27d0c;
	box-shadow: 0px 5px 4px rgba(0,0,0,0.2);
	text-transform: uppercase;
	font-size: 18px;
	width: 100%;
	box-sizing: border-box;
}

.latest-version-image {
	text-align: center;
	max-width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.email-subscription,
.poll-container,
.sister-media-bodies {
	margin-bottom: 20px;
}

.email-subscription-container {
	height: auto;
	max-width: 100%;
	box-sizing: border-box;
	box-shadow: 0px 2px 5px rgba(61,68,73,0.4) ;
	margin: 10px;
	padding: 10px;
}

.email-subscription-container p {
	margin: 10px 4px;
	font-family: serif;
	font-size: 18px;
}

.email-subscription-container input[type=text] {
	padding: 6px;
	border-radius: 2px;
	border: 1px solid;
	margin: 10px 4px;
}

.email-subscription-container input[type=submit] {
	margin: 10px 4px;
	font-size: 16px; 
	color: #fff;
	border-radius: 0px;
	border: 0px solid;
	background-color: #f27d0c;
	padding: 8px;
	cursor: pointer;
}

.poll {
	box-shadow: 0px 2px 5px rgba(61,68,73,0.4);
	box-sizing: border-box;
	margin: 10px;
	padding: 10px;
	max-width: 100%;
	min-height: 300px;
	height: auto;
	/*border: green 1px solid; */
}

.sister-media-body-container {
	box-shadow: 0px 2px 5px rgba(61,68,73,0.4);
	box-sizing: border-box;
	margin: 10px;
	padding: 15px;
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.sister-media-body-container li {
	list-style: none;
	padding: 2.5px;
	font-size: 14px;
}

.sister-media-body-container a {
	text-decoration: none;
	color: rgb(61,68,73);
}

.sister-media-body-container a:hover {
	color: #f27d0c;
}

.anything-else-container {
	min-height: 200px;
	box-sizing: border-box;
	padding: 10px;
	margin: 10px;
	box-shadow: 0px 2px 5px rgba(61,68,73,0.4);
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

@media screen and (max-width: 950px) {
	.belowMainArticle {
		display: block;
	}

	.leftSide {
		width: 100%;
	}

	.rightSide {
		margin: 20px 0px; 
	}
}