
/*The below CSS is for the SlideShow which is displayed on the homepage*/
.mainArticle {
	width: 100%;
	height: 450px;
	box-sizing:border-box;
	display: none;
}

.mainArticle.activeArticle {
	display: block;
}

.left,
.right {
	float: left;
	box-sizing: border-box;
	height: 100%;
	width: 50%;
	transition: all 0.5s ease;
}

.left {
	padding: 30px;
}

.right {
	padding: 20px;
}

.right img {
	box-sizing: border-box;
	box-shadow: 5px 5px 6px rgba(93,104,111,0.8);
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
}

.right img:hover {
	opacity: 0.8;
}

.dot-container {
	position: relative;
	display: block;
	text-align: center;
	height: 16px;
}

.dot {
	cursor: pointer;
	margin: 5px;
	display: inline-block;
	height: 12.5px;
	width: 12.5px;
	background-color: #ff9f80;
	border-radius: 50%;
}

#heading {
	color: #3d4449;
	font-size: 40px;
	font-family: 'Roboto Slab';
	font-weight: 700;
	line-height: 1.3;
}

#subHeading {
	color: #757676;
	margin-top: 10px;
	font-size: 15px;
	font-family: sans-serif;
	text-transform: uppercase;
	line-height: 22.5px;
}

#detail {
	color: #757676;
	margin-top: 20px;
	padding-right: 10px;
	font-size: 14px;
	font-family: sans-serif;
	/*border: 1px solid;*/
	line-height: 1.5;
}

#readMore {
	display: inline-block;
	border-radius: 5px;
	padding: 12.5px; 
	text-decoration: none;
	color: #f27d0c;
	margin-top: 20px;
	border: 2px solid #f27d0c;
}

#lineBelowArticle {
	margin: 30px 0px;
	border: 1.5px solid #f27d0c;
	transition: all 0.5s ease;
}

@media screen and (max-width: 950px) and (min-width: 600px) {
	.mainArticle {
		flex-direction: column-reverse;
		height: auto;
		width: 100%;
	}

	.left,
	.right {
		width: 100%;
		float: none; 
	}

	.left {
		height: 450px;
		padding: 40px; 
	}

	.right {
		height: 450px;
		padding: 30px;
	}

	#lineBelowArticle {
		margin-top:  40px;
	}
}

@media screen and (max-width: 600px) {
	.mainBody {
		margin: 10px;
	}

	.mainArticle {
		height: auto;
		width: 100%;
		flex-direction: column-reverse;
	}

	.left,
	.right {
		width: 100%;
		float: none;
		padding: 5px; 
	}

	.left {
		height: auto;
		padding: 15px;
	}

	.right {
		height: 280px;
	}

	#heading {
		padding: 0px;
		font-size: 34px;
		line-height: 1.1; 
	}

	#subHeading {
		padding: 0px;
		line-height: 1.1;
		font-size: 15px;
	}

	#detail {
		padding: 0px;
		line-height: 1.3;
	}

	#readMore {
		margin: 20px 0px;
	}

	#lineBelowArticle {
		margin-top:  40px;
	}

}

/*The below CSS is for the Trending and Recent Article which is displayed on the homepage*/ 

.trending-articles-container {
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	height: 600px;
	color: #fff;
	transition: width 0.5s ease;
	cursor: pointer;
	margin-bottom: 25px;
}

.trending-articles-container a {
	text-decoration: none;
	color: inherit;
	padding: 0px;
	margin: 0px;
	height: auto;
	width: auto;
}

.trending-articles-container .image {
	width: 33.33333%;
	height: 33.33333%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

.trending-articles-container .image .color {
	opacity: 0.925;
	height: 100%;
	width: 100%;
	transition: opacity 1s ease;
}

.trending-articles-container .image .color:hover {
	opacity: 0;
}

.trending-articles-container .header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 10px;
	height: 100%;
	box-sizing: border-box;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.trending-articles-container .header h3 {
	font-size: 1.55em;
	line-height: 1.65;
	font-weight: 600;
	box-sizing: border-box;
	opacity: 1.0;
	margin: 0.325em 10% 0.3em 0;
	border-bottom: #fff 2px solid;
	letter-spacing: 0.025em;
	overflow: hidden;
}

.trending-articles-container .header p {
	opacity: 1.0;
	margin-top: 0.3em;
	letter-spacing: 0.25em;
	font-weight: 600;
	font-size: 0.7em;
	text-transform: uppercase;
	width: max-content;
}

#one {
	background-image: url("../Images/1st-senate-meeting.jpg");
}

#one .color {
	background-color: #6fc3df;
}

#two {
	background-image: url("../Images/3rd-generation-iit-director-meet.jpg");
}

#two .color {
	background-color: #8d82c4;
}

#three {
	background-image: url("../Images/goa-atlantic-summit.jpg");
}

#three .color {
	background-color: #ec8d81;
}

#four {
	background-image: url("../Images/goa-liberation-day.jpg");
}

#four .color {
	background-color: #e7b788;
}

#five {
	background-image: url("../Images/goat-cooperation-meet.jpg");
}

#five .color {
	background-color: #8ea9e8;
}

#six {
	background-image: url("../Images/iit-goa-logo-unvieled.jpg");
}

#six .color {
	background-color: #87c5a4;
}

#seven {
	background-image: url("../Images/interiitsport2017.jpg");
}

#seven .color {
	background-color: #795548;
}

#eight {
	background-image: url("../Images/ips-meet.jpg");
}


#eight .color {
	background-color: #d1d655;
}

#nine {
	background-image: url("../Images/national-unity-day.jpg");
}


#nine .color {
	background-color: #74438e;
}

@media screen and (max-width: 950px) {
	.trending-articles-container .header h3 {
		padding: 0% 1px;
		font-size: 1.35em;
		line-height: 1.25;
		letter-spacing: 0.025em;
	}

	.trending-articles-container .header p {
		letter-spacing: 0.25em;
		font-size: 0.7em;
		width: max-content;
	}

}

@media screen and (max-width: 600px) {
	.trending-articles-container .image {
		width: 50%;
		height: 25%;
	}

	.trending-articles-container .header h3 {
		font-size: 1.35em;
		line-height: 1.2;
	}

	.trending-articles-container .header p {
		display: none;
	}

	#nine {
		display: none;
	}
}

.trending-article-header,
.recent-article-header {
	border-left: #3d4449 7.5px solid;
	border-radius: 4px 0px 0px 0px;
	height: 40px;
	line-height: 40px;
	font-weight: 700;
	color: #f27d0c;
	box-shadow: 0px 5px 4px rgba(0,0,0,0.2);
	text-transform: uppercase;
	font-size: 20px;
	box-sizing: border-box;
	padding: 0px 30px;
	margin-bottom: 10px;
	width: auto;
    font-family: 'Roboto Mono', monospace;
}

.recent-article-container {
	display: inline-flex;
	height: auto;
	width: 100%;
	box-sizing: border-box;
}

.recent-article-container #container-left,
.recent-article-container #container-right {
	width: 50%;
	height: 460px;
	box-sizing: border-box;
	padding: 10px 20px;
}

#recent-one,
#recent-two,
#recent-three,
#recent-four,
#recent-five,
#recent-six,
#recent-seven,
#recent-eight {
	display: inline-flex;
	width: 100%;
	box-sizing: border-box;
	height: 90px;
	margin-bottom: 20px;
}

.recent-image {
	height: 100%;
	width: 30%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

.recent-brief {
	padding: 10px 5%;
	width: 70%;
	height: 100%;
	box-sizing: border-box;
	/*border: red 1px solid;*/
	display: block;
}

.recent-title {
	font-size: 18px;
	font-family: 'Roboto Slab';
}

.category {
	display: inline;
	font-family: sans-serif;
	background-color: #3d4449;
	color: white;
	font-size: 10px;
	width: auto;
	padding: 2px 5px;
}

@media screen and (max-width: 600px) {
	.recent-article-container {
		display: block;
	}

	.recent-article-container #container-left,
	.recent-article-container #container-right {
		width: 100%;
		padding: 5px;
	}
}

.recent-article-container a {
	text-decoration: none;
	color: inherit;
}

.recent-title:hover {
	opacity: 0.8;
}
